<div class="card text-center">
    <div class="card-header">
        <h1>CeriGame</h1>
    </div>
    <div class="card-body">
        <h5 class="card-title">Vous voulez vous mesurer à vos amis sur des questions de culture générale ? Bienvenue dans CeriGame, vous avez des comptes à régler? C'est désormais possible avec CeriGame, vous pouvez commencer à jouer !</h5>
        <p class="card-text">CERI Game est un jeu de quiz reealisé par les étudiants du Ceri.</p>
        <a href="#" class="btn btn-primary" routerLink="/quiz" routerLinkActive="active" *ngIf='auth.IsLogged()'>Go to the Quizzz</a>
    </div>
    <div class="card-footer text-muted">
        2021
    </div>
</div>